.prompt {
    color: white;
    font-weight: 800;
    font-size: 5rem;
    margin: 1rem;
}

.result {
    color: white;
    font-size: 10vw;
    font-weight: 900;
    margin: 1rem;
}

.obscurePrompt {
    color: yellowgreen;
    font-size: 5vw;
}

.obscureResult {
    color: yellowgreen;
}

.home {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    background: transparent;
}