.flexContainer {
    display: flex;
}

.flexContainerCentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexChild {
    flex: 1;
    text-align: center;
}

.flexChild:first-child {
    margin-right: 20px;
}

.image {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: 3rem;
}

.segment {
    height: 80vh;
}