.flexContainer {
    display: flex;
}

.flexContainerCentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexChild {
    flex: 1;
    text-align: center;
}

.flexChild:first-child {
    margin-right: 20px;
}

.image {
    max-width: 45vw;
    max-height: 70vh;
    position: relative;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 5px;
}

.segment {
    height: 80vh;
}